<%- include('parts/header.ejs')%>
    <%- include('parts/nav.ejs')%>

        <style>
            * {
                font-family: NotoNaskhArabic !important;
                font-size: 23px;
            }

            body {
                direction: rtl;

            }

            .fade:not(.show) {
                opacity: 0;
                display: none;
            }

            .fade.show {
                display: block;
            }

            .btn-danger {
                margin: 5px;
            }
        </style>
        <div class="container mt-2 bg-info" style="
        min-height: 345px;
        border-radius: 18px;
    ">
            <!-- Content here -->

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true">أضف</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                        type="button" role="tab" aria-controls="nav-profile" aria-selected="false">أحذف</button>
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">عدل</button>

                </div>
            </nav>

            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                tabindex="0">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                أضف عالم
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <form action="/addMan" method="post">
                                    <div class="input-group mb-3">

                                        <input type="text" name="name" class="form-control" placeholder="الاسم"
                                            aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">

                                        <input type="text" name="image" class="form-control inputImage"
                                            placeholder="صوره" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    <img onerror="$('.inputImage').val('https://img.icons8.com/external-ddara-lineal-color-ddara/344/external-Muslim-arabic-man-islam-man-arab-beard-avatar-religion-ddara-lineal-color-ddara.png');$(this).attr('src','https://img.icons8.com/external-ddara-lineal-color-ddara/344/external-Muslim-arabic-man-islam-man-arab-beard-avatar-religion-ddara-lineal-color-ddara.png')"
                                        class="manimage" style="width: 90px" alt="" srcset="">
                                    <div class="input-group mb-3">

                                        <input type="text" name="discr" class="form-control" placeholder="تعريف"
                                            aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    <button type="submit" class="btn btn-primary">أضف</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                اضف شيئ للعالم
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <select class="form-select men" aria-label="Default select example">
                                    <option selected disabled>العلماء</option>
                                    <% for(man of mans){ %>
                                        <option value='{"i":"<%= man._id%>","n":"<%= man.name%>"}'>
                                            <%= man.name%>
                                        </option>

                                        <% }%>

                                </select>
                                <select class="form-select madh" aria-label="Default select example">
                                    <option selected disabled>الماده</option>
                                    <option value="lessons"> درس</option>
                                    <option value="articles"> مقال</option>
                                    <option value="anashid"> نشيد</option>
                                    <option value="book"> كتاب</option>
                                </select>
                                <form action="/addinMan" method="post">

                                    <div class="postbody"></div>

                                    <button type="submit" class="btn btn-primary">أضف</button>
                                </form>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                    أضف تصميم
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <form action="/addinMan" method="post">

                                        <div class="postbody">
                                            <input type="text" name="name" class="form-control" placeholder="الاسم"
                                                aria-label="Username" aria-describedby="basic-addon1">
                                        </div>
                                        <div class="input-group mb-3">
                                            <input type="text" name="image" class="form-control" placeholder="الصوره"
                                                aria-label="Username" aria-describedby="basic-addon1">
                                        </div>
                                </div>
                                <input type="hidden" name="type" value="photos">
                                <button type="submit" class="btn btn-primary">أضف</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                إحذف عالم
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">

                                <p>إضغط للحذف</p>
                                <% for(man of mans){ %>
                                    <a class="btn btn-danger " href="/deleteMan/<%= man._id%>">
                                        <%= man.name%>
                                    </a>

                                    <% }%>



                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                إحذف شيئ في عالم
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <h3>الاناشيد</h3>
                                <% for(nashid of anashid){ %>
                                    <a class="btn btn-danger " href="/delete/anashid/<%= nashid._id%>">

                                        <%= nashid.teacherName%>
                                            <br>
                                            <%= nashid.name%>
                                    </a>

                                    <% }%>
                                        <h3>المقالات</h3>
                                        <% for(article of articles){ %>
                                            <a class="btn btn-danger " href="/delete/articles/<%= article._id%>">

                                                <%= article.teacherName%>
                                                    <br>
                                                    <%= article.name%>
                                            </a>

                                            <% }%>
                                                <h3>الدروس</h3>
                                                <% for(lesson of lessons){ %>
                                                    <a class="btn btn-danger " href="/delete/lessons/<%= lesson._id%>">

                                                        <%= lesson.teacherName%>
                                                            <br>
                                                            <%= lesson.name%>
                                                    </a>

                                                    <% }%>
                                                        <h3>التصميمات</h3>
                                                        <% for(photo of photos){ %>
                                                            <a class="btn btn-danger "
                                                                href="/delete/photos/<%= photo._id%>">

                                                                <br>
                                                                <%= photo.name%>
                                                            </a>

                                                            <% }%>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">

            </div>

        </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script>
            keyup($(".inputImage"), $(".manimage"))
            function keyup (input, img) {
                $(input).keyup(() => {
                    $(img).attr("src", $(input).val())
                })
                $(input).keydown(() => {
                    $(img).attr("src", $(input).val())
                })
            }
            $(".madh").change(function () {

                if ($(".men").val()) {
                    e = JSON.parse($(".men").val())
                    if ($(".madh").val() == "lessons" || $(".madh").val() == "anashid" || $(".madh").val() == "book") {
                        $(".postbody").html(`
                <div class="input-group mb-3">
<input type="text" name="name" class="form-control" placeholder="الاسم"
    aria-label="Username" aria-describedby="basic-addon1">
</div>
                <div class="input-group mb-3">
<input type="text" name="url" class="form-control" placeholder="لينك"
    aria-label="Username" aria-describedby="basic-addon1">
</div>
<input type="hidden" name="teacherId" value="${e.i}">
<input type="hidden" name="teacherName" value="${e.n}">
<input type="hidden" name="type" value="${$(".madh").val()}">
`)
                    } else {
                        $(".postbody").html(`
                <div class="input-group mb-3">
<input type="text" name="name" class="form-control" placeholder="الاسم"
    aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
<input type="text" name="image" class="form-control" placeholder="الصوره"
    aria-label="Username" aria-describedby="basic-addon1">
</div>
                <div class="input-group mb-3">
                    <div class="form-floating">
  <textarea class="form-control" name="text" placeholder="النص" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">النص</label>
  </div>
  </div>
  
  <input type="hidden" name="teacherId" value="${e.i}">
  <input type="hidden" name="teacherName" value="${e.n}">
  <input type="hidden" name="type" value="${$(".madh").val()}">
`)
                    }
                }

            })
        </script>

        <%- include('parts/footer.ejs')%>