<%- include('parts/header.ejs')%>
    <%- include('parts/nav.ejs')%>
        <style>
            .card.text-center.text-bg-dark.mb-3 {
                max-width: 18rem;
                min-height: 181px;
                max-height: 181px;
            }

            .a {
                text-decoration: auto;
            }
        </style>


        <div class="row mt-4">
            <div class="col row">

                <%for(sub of data){%>
                    <a class="a col-3" href="/subject/<%=sub.teacherId%>/lessons/<%=sub._id%>">
                        <div class="card text-center text-bg-dark mb-3" style="max-width: 18rem;">
                            <div class="card-header">
                                <%=sub.teacherName%>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%=sub.name%>
                                </h5>
                                <p class="card-text"><small class="text-muted">
                                        <img src="https://img.icons8.com/color/512/calendar--v1.png"
                                            style="width: 20px;">
                                        <%=sub.date%>
                                    </small></p>
                            </div>
                        </div>
                    </a>
                    <%}%>
            </div>
            <div class="col-3">
                <div class="list-group" style="
            direction: rtl;
        ">
                    <a href="/" type="button" class="list-group-item list-group-item-action " aria-current="true">
                        <img src="https://img.icons8.com/fluency/344/cottage.png" style="
            width: 40px;
        ">
                        <h4 style="
            display: inline-block;
        ">الرئيسيه</h4>
                    </a>
                    <a href="/scholars" type="button" class="list-group-item list-group-item-action">
                        <img src="https://img.icons8.com/external-ddara-lineal-color-ddara/344/external-Muslim-arabic-man-islam-man-arab-beard-avatar-religion-ddara-lineal-color-ddara.png"
                            style="
            width: 40px;
        ">
                        <h4 style="
            display: inline-block;
        ">العلماء والدعاة</h4>
                    </a>
                    <a href="/moshaf" type="button" class="list-group-item list-group-item-action ">
                        <img src="https://img.icons8.com/external-others-bzzricon-studio/512/external-quran-ramadan-others-bzzricon-studio-2.png"
                            style="
            width: 40px;
        ">
                        <h4 style="
            display: inline-block;
        ">المصحف</h4>
                    </a>
                    <a href="/anashid" type="button" class="list-group-item list-group-item-action ">
                        <img src="https://img.icons8.com/external-new-flat-dmitry-mirolyubov/512/external-audio-dont-stop-the-music-new-flat-dmitry-mirolyubov.png"
                            style="
            width: 40px;
        ">
                        <h4 style="
            display: inline-block;
        ">الاناشيد</h4>
                    </a>
                    <a href="/articles" type="button" class="list-group-item list-group-item-action ">
                        <img src="https://img.icons8.com/external-flaticons-flat-flat-icons/512/external-articles-finance-flaticons-flat-flat-icons.png"
                            style="
            width: 40px;
        ">
                        <h4 style="
            display: inline-block;
        ">المقالات</h4>
                    </a>
                    <a href="/lessons" type="button" class="list-group-item  list-group-item-action active">
                        <img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/512/external-video-lesson-online-education-flaticons-lineal-color-flat-icons-3.png"
                            style="
            width: 40px;
        ">
                        <h4 style="
            display: inline-block;
        ">الدروس</h4>
                    </a>
                    <a href="/audios" type="button" class="list-group-item list-group-item-action ">
                        <img src="https://img.icons8.com/color/512/voice-recognition-scan.png" style="
            width: 40px;
        ">
                        <h4 style="
            display: inline-block;
        ">التلاوات</h4>
                    </a>
                </div>
            </div>
        </div>

        <%- include('parts/footer.ejs')%>