<%- include('parts/header.ejs')%>
    <%- include('parts/nav.ejs')%>
        <style>
            a {
                text-decoration: none;
            }
        </style>
        <div class="container-fluid" style="
        direction: rtl;
        ">
            <div class="card bg-info mb-3" style="max-width: 540px;
            direction: rtl;
        ">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src=" <%=scholar.image %>" style="
                            width: 100%;
                        " class="img-fluid rounded-end" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=scholar.name %>
                                    <div class="btn btn-info">المشاهدات:<%=vesits%>
                                    </div>
                            </h5>
                            <p class="card-text" style="
                                max-height: 176px;
                                overflow: auto;
                            ">
                                <%=scholar.discr %>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col">

            </div>
            <div class="col" style="
        direction: rtl;
    ">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active <%= lessons.length==0 ? 'bg-warning' : ' '%>" id="pills-less-tab"
                            data-bs-toggle="pill" data-bs-target="#pills-less" type="button" role="tab"
                            aria-controls="pills-less" aria-selected="true">الدروس</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link <%= articles.length==0 ? 'bg-warning' : ' '%>" id="pills-articles-tab"
                            data-bs-toggle="pill" data-bs-target="#pills-articles" type="button" role="tab"
                            aria-controls="pills-articles" aria-selected="true">المقالات</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link <%= anashid.length==0 ? 'bg-warning' : ' '%>" id="pills-anashid-tab"
                            data-bs-toggle="pill" data-bs-target="#pills-anashid" type="button" role="tab"
                            aria-controls="pills-anashid" aria-selected="true">الاناشيد</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link <%= books.length==0 ? 'bg-warning' : ' '%>" id="pills-books-tab"
                            data-bs-toggle="pill" data-bs-target="#pills-books" type="button" role="tab"
                            aria-controls="pills-books" aria-selected="true">الكتب</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-less" role="tabpanel"
                        aria-labelledby="pills-less-tab" tabindex="0">
                        <%if(lessons.length!=0){%>
                            <%for(lesson of lessons){%>
                                <a href="/subject/<%=scholar._id%>/lessons/<%=lesson._id%>">
                                    <div class="card text-center text-bg-dark mb-3" style="max-width: 18rem;">
                                        <div class="card-header">
                                            <%=scholar.name%>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%=lesson.name%>
                                            </h5>
                                            <p class="card-text"><small class="text-muted">
                                                    <img src="https://img.icons8.com/color/512/calendar--v1.png"
                                                        style="width: 20px;">
                                                    <%=lesson.date%>
                                                </small></p>
                                        </div>
                                    </div>
                                </a>
                                <%}%>
                                    <%}else{%>
                                        <div class="alert alert-info" role="alert">
                                            لا يوجد
                                        </div>
                                        <%}%>
                    </div>

                    <div class="tab-pane fade" id="pills-articles" role="tabpanel" aria-labelledby="pills-articles-tab"
                        tabindex="0">
                        <%if(articles.length!=0){%>
                            <%for(article of articles){%>
                                <a href="/subject/<%=scholar._id%>/articles/<%=article._id%>">
                                    <div class="card text-center text-bg-dark mb-3" style="max-width: 18rem;">
                                        <div class="card-header">
                                            <%=scholar.name%>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%=article.name%>
                                            </h5>
                                            <p class="card-text"><small class="text-muted">
                                                    <img src="https://img.icons8.com/color/512/calendar--v1.png"
                                                        style="width: 20px;">
                                                    <%=article.date%>
                                                </small></p>
                                        </div>
                                    </div>
                                </a>
                                <%}%>
                                    <%}else{%>
                                        <div class="alert alert-info" role="alert">
                                            لا يوجد
                                        </div>
                                        <%}%>
                    </div>
                    <div class="tab-pane fade" id="pills-anashid" role="tabpanel" aria-labelledby="pills-anashid-tab"
                        tabindex="0">
                        <%if(anashid.length!=0){%>
                            <%for(nashid of anashid){%>
                                <a href="/subject/<%=scholar._id%>/anashid/<%=nashid._id%>">
                                    <div class="card text-center text-bg-dark mb-3" style="max-width: 18rem;">
                                        <div class="card-header">
                                            <%=scholar.name%>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%=nashid.name%>
                                            </h5>
                                            <p class="card-text"><small class="text-muted">
                                                    <img src="https://img.icons8.com/color/512/calendar--v1.png"
                                                        style="width: 20px;">
                                                    <%=nashid.date%>
                                                </small></p>
                                        </div>
                                    </div>
                                </a>
                                <%}%>
                                    <%}else{%>
                                        <div class="alert alert-info" role="alert">
                                            لا يوجد
                                        </div>
                                        <%}%>
                    </div>
                    <div class="tab-pane fade" id="pills-books" role="tabpanel" aria-labelledby="pills-books-tab"
                        tabindex="0">
                        <%if(books.length!=0){%>
                            <%for(book of books){%>
                                <a href="/subject/<%=scholar._id%>/books/<%=book._id%>">
                                    <div class="card text-center text-bg-dark mb-3" style="max-width: 18rem;">
                                        <div class="card-header">
                                            <%=scholar.name%>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%=book.name%>
                                            </h5>
                                            <p class="card-text"><small class="text-muted">
                                                    <img src="https://img.icons8.com/color/512/calendar--v1.png"
                                                        style="width: 20px;">
                                                    <%=book.date%>
                                                </small></p>
                                        </div>
                                    </div>
                                </a>
                                <%}%>
                                    <%}else{%>
                                        <div class="alert alert-info" role="alert">
                                            لا يوجد
                                        </div>
                                        <%}%>
                    </div>
                </div>
            </div>
            <div class="col">

            </div>
        </div>


        <%- include('parts/footer.ejs')%>