<%- include('parts/header.ejs')%>
    <%- include('parts/nav.ejs')%>
        <%if(type!=="articles"){%>
            <style>
                * {
                    font-family: NotoNaskhArabic !important;
                    font-size: 23px;
                }

                .hadith {
                    color: blue;
                }
            </style>
            <div class="card mb-3 text-center bg-info mt-5" style="direction: rtl;">
                <h5 class="card-title">
                    <img src="<%=man.image%>" class="rounded-circle" style="
                    width: 100px;
                ">
                    <%=man.name%>
                </h5>
                <video src="<%=subject.url%>" controls class="card-img-top">

                </video>
                <div class="card-body">



                    <p class="card-text">
                        <%=subject.name%>
                    </p>
                    <p class="card-text"><small class="text-muted">
                            <%=subject.date%>
                        </small></p>
                </div>
            </div>
            <%}else{%>
                <div class="card mb-3 text-center bg-info mt-5" style="direction: rtl;">
                    <h5 class="card-title">
                        <img src="<%=man.image%>" class="rounded-circle">
                        <%=man.name%>
                    </h5>

                    <div class="card-body">

                        <p class="card-text">
                            <%=subject.name%>
                        </p>
                        <p class="card-text alltext">
                            <%=subject.text%>
                        </p>
                        <p class="card-text"><small class="text-muted">
                                <%=subject.date%>
                            </small></p>
                    </div>
                </div>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script>

                    let all = $(".alltext").text()
                    let text = all
                    let texts = text.split("")
                    let myPromise = new Promise(function (resolve, reject) {

                        for (let i = 0; i < texts.length; i++) {

                            if (texts[i] == ".") {
                                texts[i] = ".<br>"

                            }
                            if (texts[i] == "(") {
                                texts[i] = "<div class='hadith'>("
                            }
                            if (texts[i] == ")") {
                                texts[i] = ")</div>"
                            }
                            if (texts[i] == "{") {
                                texts[i] = "<div class='quran'>{"
                            }
                            if (texts[i] == "}") {
                                texts[i] = "}</div>"
                            }
                            if (texts[i] == "ا" && texts[i + 1] == "ل" && texts[i + 2] == "ل" && texts[i + 3] == "ه") {
                                texts[i] = "<div class='allh'>الله</div>"
                                texts[i + 1] = ""
                                texts[i + 2] = ""
                                texts[i + 3] = ""
                            }
                            // if (isNaN(texts[i]) == false && texts[i + 1] == "-") {
                            //     texts[i] = `<div class="num">${texts[i]}</div>`
                            //     texts[i + 1] = "-"
                            // }
                            // if (isNaN(texts[i]) == false && isNaN(texts[i + 1]) == false && texts[i + 2] == "-") {
                            //     texts[i] = `<div class="num">${texts[i]}${texts[i + 1]}</div>`
                            //     texts[i + 2] = "-"
                            //     texts[i + 1] = ""
                            // }
                        }
                        resolve("ok");
                        reject("error");
                    });

                    myPromise.then(
                        function (value) {
                            let texts2 = texts.join("")
                            $(".alltext").html(texts2)
                        },
                        function (err) { console.log(err) }
                    );



                </script>
                <%}%>

                    <%- include('parts/footer.ejs')%>