<div class="list-group" style="
            direction: rtl;
        ">
    <a href="/" type="button" class="list-group-item list-group-item-action <%= path ==='/' ? 'active' : ' '%>"
        aria-current="true">
        <img src="https://img.icons8.com/fluency/344/cottage.png" style="
            width: 40px;
        ">
        <h4 style="
            display: inline-block;
        ">الرئيسيه</h4>
    </a>
    <a href="/scholars" type="button"
        class="list-group-item list-group-item-action <%= path ==='/scholars' ? 'active' : ' '%>">
        <img src="https://img.icons8.com/external-ddara-lineal-color-ddara/344/external-Muslim-arabic-man-islam-man-arab-beard-avatar-religion-ddara-lineal-color-ddara.png"
            style="
            width: 40px;
        ">
        <h4 style="
            display: inline-block;
        ">العلماء والدعاة</h4>
    </a>
    <a href="/moshaf" type="button"
        class="list-group-item list-group-item-action <%= path ==='/moshaf' ? 'active' : ' '%>">
        <img src="https://img.icons8.com/external-others-bzzricon-studio/512/external-quran-ramadan-others-bzzricon-studio-2.png"
            style="
            width: 40px;
        ">
        <h4 style="
            display: inline-block;
        ">المصحف</h4>
    </a>
    <a href="/anashid" type="button"
        class="list-group-item list-group-item-action <%= path ==='/anashid' ? 'active' : ' '%>">
        <img src="https://img.icons8.com/external-new-flat-dmitry-mirolyubov/512/external-audio-dont-stop-the-music-new-flat-dmitry-mirolyubov.png"
            style="
            width: 40px;
        ">
        <h4 style="
            display: inline-block;
        ">الاناشيد</h4>
    </a>
    <a href="/articles" type="button"
        class="list-group-item list-group-item-action <%= path ==='/articles' ? 'active' : ' '%>">
        <img src="https://img.icons8.com/external-flaticons-flat-flat-icons/512/external-articles-finance-flaticons-flat-flat-icons.png"
            style="
            width: 40px;
        ">
        <h4 style="
            display: inline-block;
        ">المقالات</h4>
    </a>
    <a href="/lessons" type="button"
        class="list-group-item  list-group-item-action  <%= path ==='/lessons' ? 'active' : ' '%>">
        <img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/512/external-video-lesson-online-education-flaticons-lineal-color-flat-icons-3.png"
            style="
            width: 40px;
        ">
        <h4 style="
            display: inline-block;
        ">الدروس</h4>
    </a>
    <a href="/books" type="button"
        class="list-group-item  list-group-item-action  <%= path ==='/books' ? 'active' : ' '%>">
        <img src="https://img.icons8.com/color/512/books.png" style="
            width: 40px;
        ">
        <h4 style="
            display: inline-block;
        ">الكتب</h4>
    </a>
    <a href="/photos" type="button"
        class="list-group-item  list-group-item-action  <%= path ==='/photos' ? 'active' : ' '%>">
        <img src="https://img.icons8.com/color/512/paint-palette-with-brush.png" style="
        width: 40px;
    ">
        <h4 style="
        display: inline-block;
    ">التصميمات</h4>
        <a href="/quotes" type="button"
            class="list-group-item  list-group-item-action  <%= path ==='/quotes' ? 'active' : ' '%>">
            <img src="https://img.icons8.com/external-flaticons-flat-flat-icons/2x/external-quote-history-flaticons-flat-flat-icons.png"
                style="
    width: 40px;
">
            <h4 style="
    display: inline-block;
">المقولات </h4>
        </a>
        <a href="/azan" type="button"
            class="list-group-item  list-group-item-action  <%= path ==='/azan' ? 'active' : ' '%>">
            <img src="https://img.icons8.com/external-icongeek26-flat-icongeek26/512/external-Azan-ramadan-icongeek26-flat-icongeek26.png"
                style="
width: 40px;
">
            <h4 style="
display: inline-block;
">مواقيت الصلاه</h4>
        </a>
</div>
<script>

</script>